// =======================================start-v-color======================================
$maincolor:#fffeff;
$scandcolor:#101010;
$threecolor:#06F;
$fourecolor:#063f65;
$fivecolor:#a8cffd;
$sixcolor:#2787b4;
$sivencolor:#000066;
// =======================================end-v-color======================================

// =======================================start-media======================================
$media-small-mobile:"(min-width:280px) and (max-width:319px)";
$media-mobile:"(min-width:320px) and (max-width:480px)";
$media-ipad:"(min-width:481px) and (max-width:768px)";
$media-small-screens:"(min-width:769px) and (max-width:1023)";
$media-large-screens:"(min-width:1024px) and (max-width:1200px)";
$media-extra-large:"(max-width:1201px)";
// =======================================end-media======================================



// ====================start-varuable==============================
$relative:relative;
$absolute:absolute;
$float-left:left;
$float-right:right;
$b-reabet:no-repeat;
$d-inline:inline-block;
$list-non:none;
$margin-a:auto;
$display-f:flex;
$text-center:center;
$background-contain:contain;
$b-solid:solid;
$fonts:'Times New Roman', Times, serif;
$fonts-bold:900;
// ====================end-varuable==============================
