//==================================start-carsel========================================================
.containers{
    .carsel{
        width: 59%;
        margin-right: 250px;
        margin-top: 39px;
        border: 4px $b-solid $maincolor;
        box-shadow: 2px 2px 15px;
        margin-bottom: 16px;
        .carousel{
            ol li{
                color: $scandcolor;
                background-color: $scandcolor;
            }
        }
    }
}
//==================================End-carsel========================================================




//=================================start-textboxs==========================================================
.containers{
    .taxt{
        margin-left: 121px;
        .textboxs{
            .textbox1{
                width: 61%;
                height: 205px;
                margin-top: 13px;
                background-image: url("../phote/Txt Box 1.png");
                margin-right: 151px;
                border-radius: 36px 11px;
                background-color: $maincolor;
                padding-right: 91px;
                .logo{
                    width: 33%;
                    height: 62px;
                    background-image: url("../phote/Txt Box Button.png");
                    background-repeat:$b-reabet;
                    display:$d-inline;
                    margin-top: 6px;
                    position: $relative;
                    margin-right: 15px;
                    h2{
                        font-size: 27px;
                        color: $maincolor;
                        margin-right: 53px;
                        font-weight: $fonts-bold;
                    }
                    .diffrent{
                        font-size: 21px;
                        margin-right: 38px;
                        margin-top: 6px;
                        font-weight: $fonts-bold;
                    }
                }
                .this{
                    position: $absolute;
                    left: 35%;
                    top: 73%;
                }
                }
                .logo2{
                    background-image: url("../phote/More Button.png");
                    width: 112px;
                    height: 34px;
                    background-repeat:$b-reabet;
                    margin-right:78%;
                    padding-top: 1px;
                    h2{
                        font-size: 12px;
                        margin-right: 44px;
                        margin-top: 5px;
                        font-weight: $fonts-bold;
                        a{
                            text-decoration: $list-non;
                            color: $maincolor;
                            font-weight: $fonts-bold;
                        }
                    }
                    a:hover{
                        color: $threecolor;
                    }
                }
                }
                p{
                    margin-right: 19px;
                    font-size: 21px;
                    font-weight: 300;
                    line-height: 24px;
                    width: 93%;
                    margin-top: 0px;
                    color:$sivencolor;
                }
            }
    }
//=================================End-textboxs==========================================================





//=================================start-pharmase==========================================================
.containers{
    .pharmase{
        width: 17%;
        height: 854px;
        position:$absolute;
        right:70%;
        top: 32%;
        background-color: $fivecolor;
        border-radius: 22px;
    }
    .body{

        .header{
            width: 201px;
            height: 34px;
            background-image: url("../phote/New folder/Txt Box Button.png");
            background-repeat:$b-reabet;
            position: $absolute;
            top: 9px;
            right: 10px;
            background-size: $background-contain;
            h2{
                margin-right: 59px;
                font-size: 27px;
                margin-top: -2px;
                color:$maincolor;
                font-weight: $fonts-bold;
            }
        }
        .setion {
            margin-top: 58px;
            img{
                width: 82%;
                margin-right: 24px;
                margin-top: 22px;
                border: 7px $b-solid $sixcolor;
                border-radius: 31px;
                box-shadow: 1px 1px 7px 1px;
            }
        }
        .arryes{
            .arryes-top{
                position:$absolute;
                top: 39px;
                right: 102px;
            }
            .arryes-bottom{
                position:$absolute;
                right: 101px;
                margin-top: 20px;
            }
        }
    

    }
    }
//=================================End-pharmase==========================================================


//=================================start-program-phote==========================================================

.containers{
    .program-phote{
        .overflow{
            width: 59%;
            height: 291px;
            background-image: url("../phote/البرنامج/Gallery.png");
            margin: $margin-a;
            background-position: $text-center;
            background-size: $text-center;
            padding-right: 5px;
            padding-top: 4px;
            margin-top: 32px;
        }
    }
}
//=================================end-program-phote==========================================================


//=================================start-sells==========================================================

.containers{
    .sells{
        .overflow{ 
            width: 75%;
            height: 839px;
            background-image: url("../phote/البرنامج/txt box larg.png");
            margin-right: 162px;
            border-bottom-right-radius: 43px 48px;
            position:$relative;
            .head-logo{
                padding-top: 5px;
                padding-right: 19px;
                position: $relative;
                h2{
                    position: $absolute;
                    bottom: 0px;
                    top: 6px;
                    right: 95px;
                    font-size: 24px;
                    color: $maincolor;
                    font-weight: $fonts-bold;
                }
            }
        }
        .row{
            
            .col-lg-2{
                margin-right: 48px;
                margin-top: 58px;
            }
        }
        .row{
            .col-xl-5{
                position:$absolute;
                top: 94%;
                margin-right: 75%;
                a{
                    text-decoration: $list-non;
                     
                }
                a:hover{
                    color: $threecolor;
                    @include transition;
                }
                button{
                    background-color:$scandcolor;
                    padding: 6px 20px 4px 19px;
                    border-radius: 11px;
                    margin-right: 22px;
                    border: 3px $b-solid $sixcolor;
                    a{
                        color:$maincolor;
                        text-decoration: $list-non;
                        font-size: 18px;
                        font-weight: $fonts-bold;
                    }
                }
            }
            .diffrent{
                position:$absolute;
                top: 95%;
                left: 88%;
                background-color:$scandcolor;
                width: 8%;
                height: 25px;
                border-radius: 6px;
                padding: 0px 6px 0px 0px;
                a{
                    text-decoration:$list-non;
                    color: $maincolor;
                    padding: 6px;
                }
            }
            
        }
    }
}




//=================================end-sells====================================================


//=================================start-sells two====================================================
.sells{
    .big{
        width: 88%;
        height: 711px;
        margin: $margin-a;
        margin-top: 54px;
        font-size: 18px;
        font-size: large;
        line-height: 35px;
        font-weight: 900;
            .active{
                text-align: $text-center;
                font-size: 24px;
                color: $sivencolor;
                margin-bottom: 14px;
            }
        }      
    }




//=================================start-sells two====================================================

// <!-- ==================================start-sells-three======================================================== -->

.sells{
    .big{
        width: 91%;
        height: 604px;
        .info{
            margin-bottom: 67px;
            h2{
                font-size: 23px;
                font-weight: 900;
            }
        }
        .row{
            margin-right: 70px;
            margin-top: 71px;
        }
    }
}





//==================================end-sells-three========================================================

//  ==================================start-sells-foure========================================================


.sells{
    .info{
        margin-right: 32px;
        font-size: 22px;
        font-weight: 900;
        margin-top: 23px;
        line-height: 50px;
        .diffrent{
            margin-top: 31px;
            margin-bottom: 51px;
        }
    }
}


//  ==================================end-sells-foure========================================================

//  ==================================start-sells-five========================================================

.sells{
    .overflow{
        .biges{
            .count p{
                font-size: 20px;
                font-weight: $fonts-bold;
                width: 90%;
                margin-right: 54px;
                margin-top: 45px;
            }
            .list h2{
                text-align: $text-center;
                color:$sivencolor;
                font-weight: 900;
            }
            .list ul{
                font-weight: 900;

                li{
                    font-weight: 900;
                    font-size: 20px;
                    margin-top: 0px;
                    line-height: 19px;
                }
            }
        }
    }
}
.setion-new{
    .overflow{
        .head-logo h2 {
    position: $absolute;
    bottom: 0px;
    top: 13px;
    right: 88px;
    font-size: 24px;
    color:$maincolor;
    font-weight: 900;
    
        }
        ul{
            li{
                font-size: 20px;
                font-weight: 900;
                margin-right: 196px;
            }
        }
    }
}



//  ==================================start-sells-five========================================================



//  ==================================start-map======================================================
.map{
    iframe{
        width: 35%;
        height: 311px;
        margin-right: 31%;
        margin-top: 23px;
    }
}


//  ==================================end-map========================================================



//  ==================================start-sells-six========================================================

.setion-new{
        .overflow {
        width: 75%;
        height: 134px;
        background-image: url("../phote/البرنامج/txt box larg.png");
        margin-right: 162px;
        border-bottom-right-radius: 43px 48px;
        position: $relative;
        padding-top: 12px;
        padding-right: 23px;
        .head-logo{
            .diff-two{
                position: $absolute;
                right: 105px;
            }
            .diff{
                position: $absolute;
                right: 70px;
            }
        }
    }
}
.news{
    margin-left: 27px;
    height: 85px !important;
    margin-top: 10px;
}
.okses{
    font-weight: $fonts-bold;
    font-size: 20px;
    margin-top: 12px;
    margin-right: 35px;

}



//  ==================================end-sells-six========================================================
